/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #0F0F0F;
    --dark2: #141516;
    --light: #fff;
    --shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
    --box-shadow: 0px 2px 4px rgba(0,0,0,.04);
  }

/*  ---------------------- */
/* Body Styles */
/*  ---------------------- */
body {
    margin: 0 0;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}

/* Set the bounding area for the main content and begin cssgrid */
.wrapper {
      display: grid;
      grid-gap: 1em;
      max-width: 1233px;
      margin: auto auto;
      padding: 0 1em;
      
}



/*  ---------------------- */
/* Header / Navigation Section */
/*  ---------------------- */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: var(--box-shadow);
    min-height: 80px;
}


header a {
    text-decoration: none;
    color: var(--dark);
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 0 0 0;
}

header img {
    height: auto;
    max-width: 182px;
}




/*  ---------------------- */
/* Hero Section */
/*  ---------------------- */

.hero{
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(../img/hero_2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
    min-height: 492px;
    border-radius: 10px;
    text-align: center;
    font-size: 54px;
    box-shadow: var(--shadow);
    margin-top: 1em;
    margin-bottom: 0em;
}

.hero p {
    align-self: end;
    margin: .3em;
}

.social-media {
    font-size: 20px;
}


.icon {
    display: grid;
    align-self: end;
    margin: .5em;
}


/*  ---------------------- */
/* Work Section */
/*  ---------------------- */


.work {
    margin-top: 4em;
    margin-bottom: 4em;
}

 .work-grid {
     display: grid;
     grid-gap: 1.5em;
     grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
     
     
 }

 .work-card{
     display: grid;
     background-image: url(../img/wallpaper.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 10px;
     min-height: 340px;
     color: var(--light);
     font-weight: 700;
     font-size: 20px;
     text-align: center;
     box-shadow: var(--shadow);
    

 }

 .work-card p {
    align-self: end;
    margin-bottom: 1.5em;
 }

 .work-title {
     grid-column: span 4;

 }


 /*  ---------------------- */
/* Footer Section */
/*  ---------------------- */

footer {
      text-align: center;
      color: var(--dark);
      font-weight: 400;
      font-size: 12px;
      margin: 2em;
}